.color-white {
  color: #fff;
}

#Figma {
  background-color: #000;
  height: 100vh;
  overflow: hidden;
  width: 100vw;

  header {
    flex: 0 0 2.5rem;
  }

  main {
    flex: 1 1 auto;
  }

  .InputWrapper {
    flex: 0 1 50%;
  }

  input[type='text'] {
    background-color: #f0f0f0;
    color: #000;
    padding: 0 1rem 0 3rem;

    &:focus {
      background-color: #fff;
    }
  }

  details {
    & > div {
      background-color: #fff;
      box-shadow: var(--shadow-01);
      padding: 1rem 1.25rem 1.25rem;
      top: 2.5rem;
      width: 16rem;
      z-index: 100;
    }

    &[open] summary::before {
      bottom: 0;
      content: '';
      cursor: default;
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
    }
  }
}
