@font-face {
  font-display: swap;
  font-family: 'RobotoMono';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/RobotoMono/RobotoMono-Regular.woff2') format('woff2'),
    url('fonts/RobotoMono/RobotoMono-Regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'RobotoMono';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/RobotoMono/RobotoMono-Medium.woff2') format('woff2'),
    url('fonts/RobotoMono/RobotoMono-Medium.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'RobotoMono';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/RobotoMono/RobotoMono-Bold.woff2') format('woff2'),
    url('fonts/RobotoMono/RobotoMono-Bold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Spectral/Spectral-Regular.woff2') format('woff2'),
    url('fonts/Spectral/Spectral-Regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Spectral';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/Spectral/Spectral-Italic.woff2') format('woff2'),
    url('fonts/Spectral/Spectral-Italic.woff') format('woff');
}

// @font-face {
//   font-display: swap;
//   font-family: "Spectral";
//   font-style: normal;
//   font-weight: 500;
//   src: url("fonts/Spectral/Spectral-Medium.woff2") format("woff2"),
//     url("fonts/Spectral/Spectral-Medium.woff") format("woff");
// }

// @font-face {
//   font-display: swap;
//   font-family: "Spectral";
//   font-style: normal;
//   font-weight: 600;
//   src: url("fonts/Spectral/Spectral-SemiBold.woff2") format("woff2"),
//     url("fonts/Spectral/Spectral-SemiBold.woff") format("woff");
// }

@font-face {
  font-display: swap;
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/Spectral/Spectral-Bold.woff2') format('woff2'),
    url('fonts/Spectral/Spectral-Bold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Spectral';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/Spectral/Spectral-BoldItalic.woff2') format('woff2'),
    url('fonts/Spectral/Spectral-BoldItalic.woff') format('woff');
}

// @font-face {
//   font-display: swap;
//   font-family: "Spectral";
//   font-style: normal;
//   font-weight: 800;
//   src: url("fonts/Spectral/Spectral-ExtraBold.woff2") format("woff2"),
//     url("fonts/Spectral/Spectral-ExtraBold.woff") format("woff");
// }
